<ul class="nav">
                        <!--  Add require site page navigation -->                    <li> <a style="opacity:0.01;margin-top: -16px;" href="#" disable><span class="stroke"></span>  </a></li>
                        <li ><a href="!feed"><span class="stroke"></span> Feed</a></li>
                        <li ><a href="!profile" id="profileLink" onclick="friendsUpdate();followersUpdate();followingUpdate();"><span class="stroke"></span> Profile</a></li>                              
                        <li ><a href="!settings"><span class="stroke"></span> Settings</a></li> 
						<li ><a href="!aboutus" ><span class="stroke"></span> About Us</a></li>
						<li style="opacity:1" id="sr"><a href="!searchresults" >
                            <form id="searchform"><input type="text" value="Search..." id="searchthings" name="searchthings" /></form>
                        </a></li>
                        <li ><a href="{$BASE_URL}pages/admin/dashboard.php" target="_blank" ><span class="stroke"></span> Admin CP</a></li>
						<li ><a href="../../actions/users/logout.php" target="_self" class="last"><span class="stroke"></span>Log Out</a></li> 
						<li style="height: 0px;padding: 0;"><a style="height: 0px;padding: 0;" href="!help"><img class="help" src="{$BASE_URL}images/help.png"></a></li>
                        <li style="height: 0px;padding: 0;"><a style="height: 0px;padding: 0;" href="!foreignProfile" id="fp"> </a></li>
                        <li style="height: 0px;padding: 0;"><a style="height: 0px;padding: 0;" href="!promo" id="promo"> </a></li>
                        
                       </ul>