                          <ul class="nav">
                            <!--  Add require site page navigation -->                    
                            <li ><a href="!login"><span class="stroke"></span> Login</a></li>
                            <li ><a href="!register"><span class="stroke"></span> Register</a></li>
                            <li ><a href="!aboutus" ><span class="stroke"></span> About Us</a></li>   
                            <li ><a href="!help"><img class="help" src="{$BASE_URL}images/help.png"></a></li>
                            <li ><a href="!promo" class="last"><span class="stroke"></span> Promotional Content</a></li>
                          </ul>