<div class="box friendship notnew friendnumbernotif"><i class="fa fa-users"></i>
  <span class="right"></span>
  <span class="left"></span>
</div>

<div class="box follower notnew follownumbernotif"><i class="fa fa-eye"></i>
  <span class="right"></span>
  <span class="left"></span>
</div>

<div class="box upquote notnew upvotenumbernotif"><i class="fa fa-quote-right"></i>
  <span class="right"></span>
  <span class="left"></span>
</div>
