div.pager {
    text-align: right;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    opacity: 0.9;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #428bca;
}