.feedQuote{ 
	margin: 12px;
	padding-left: 100px;
	padding-right: 100px;
}
.quoteUserImage{
	height: 64px;
	width: 64px;
  	overflow: hidden;
}
.imageDiv{
	overflow: hidden;
	}

#quoteSeparator{
	position: relative;
	top:70px;
	-width: 550px;
	width: 100%;
	-margin-left: 10%;
}

.QuoteOptions { 
-padding-left: 100px;
}

.QuoteText { 
font-style: italic;
-min-width: 405px;
}


.arrowdiv{
	white-space: nowrap;text-align: left;display: inline-block;
vertical-align: top;
zoom: 1;position: relative;
min-height: 1px;
min-width: 0px;visibility: visible;margin: 0 0 0 5px;-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 20px;
max-width: 100%;
}

.arrowi{
	white-space: nowrap;visibility:visible;position: absolute;
zoom: 1;
line-height: 0;
width: 0;
height: 0;
left: 0;
top: 50%;
margin: -4px 0 0 -4px;
border-right-color: #aaa;
border-left: 0;
text-align: left;
}

.arrowu_green{white-space: nowrap;
text-align: left;visibility: visible;position: absolute;
zoom: 1;
line-height: 0;
width: 0;
height: 0;
left: 0;
top: 50%;
margin: -4px 0 0 -4px;
border: 4px transparent solid;
border-left: 0;margin-left: -3px;
border-right-color: #468847;
}

.help {
position: fixed;
right: -45px;
background: #999;
opacity: 0.5;
top: 0;
text-align: left;
border-radius: 40px;
padding: 5px 11px;
}