.login_left {
height: 735px;
display: block;
width: 35%;
position: absolute;
min-height: 100%;
background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.25) 1%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.75) 100%);
border-right: 1px solid rgba(255, 255, 255, .25);
-webkit-background-clip: padding-box;
background-clip: padding-box;
		}
	
.login_right {
margin-left: 65%;
height: 735px;
display: block;
width: 65%;

position: absolute;
min-height: 100%;
background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.25) 100%);
border-left: 1px solid rgba(255, 255, 255, .25)}


.login_middle {
-height: 735px;
-display: block;
-margin-left: 35%;
-margin-right: 35%;
-position: absolute;
-min-height: 100%;
}

.login_logo_center_position>img {
	position: fixed;
	text-align: center;
  	width:20%;
  	left: 50%;
  	margin-left:-10%;
  	background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.25) 100%);
}

.login_form_container {
  position: fixed;
  text-align: center;
  width:28%;
  height: 40%;
  left: 50%;
  margin-top:23%;
  margin-left: -14%;
  background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 1%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.25) 100%);
}


.register_button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(74,70,37,1);
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(30,58,25,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(30,58,25,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(30,58,25,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 50px auto;
	width: 50%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.register_button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(30,58,25,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(30,58,25,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(30,58,25,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.register_button:visited {
	color: #fff;
}





.login_button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 50px auto;
	width: 50%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.login_button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.login_button:visited {
color:#fff;
}


/*

.register_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 0px 0px 0px #f9eca0;
	background-color:#c5581f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color: #fff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.register_button:hover {
	background-color:#f2ab1e;
}
.register_button:active {
	position:relative;
	top:1px;
}

.register_button:visited {
	color: #fff;
}

.login_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 0px 0px 0px #d9fbbe;
	background-color:#0a470e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #052807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.login_button:hover {
	background-color:#a5cc52;
}
.login_button:active {
	position:relative;
	top:1px;
}

.login_button:visited {
	color: #fff;
}*/