body {
  background: #222;
  margin:0;
  padding:0;
}

.page_close {
  margin-top: -72px;
margin-left: 6px;
}

.notifications {
  z-index: 2147483647;
position: absolute;
padding-left: 50px;
-margin-top: 219px;
margin-top: 94px;
}



.new {
opacity: 1;
}

.notnew {
  opacity: 0.5;
}

.friendship {
  float: left;
}

.follower {
  margin-left: 8px;
  float: left;
}

.upquote {
  margin-left: 8px;
  float: left;
}

.box {
  height: 30px;
  width: 30px;
  z-index: 65;
  float: left;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border:2px solid #fff;
  margin-bottom: 10px;
  margin-left: 12px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -margin: auto;
  position: relative;
}

.box span {
  position: absolute;
  background: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.box span.top {
  width:50%;
  height:2px;
  top: -2px;
  left:-140%;
}

.box:hover span.top {
  left:0;
  background:#fff
}

.box span.right {
  height:50%;
  width:2px;
  right: -2px;
  top:-140%;
}

.box:hover span.right {
  top:0;
  background:#fff
}

.box span.bottom {
  width:50%;
  height: 2px;
  bottom: -2px;
  right:-140%;
}

.box:hover span.bottom {
  right:0;
  background:#fff
}

.box span.left {
  height:50%;
  width: 2px;
  left: -2px;
  bottom:-140%;
}

.box:hover span.left {
  bottom:0;
  background:#fff
}




.bubble {
position: absolute;
z-index: 5;
top: -6px;
right: -6px;
opacity: 0.9;
height: 20px;
line-height: 20px;
vertical-align: middle;
padding: 0px 3px 0px 3px;
background-color: red;
color: white;
font-weight: bold;
font-size: 0.55em;
border-radius: 14px;
box-shadow: 1px 1px 1px gray;
}

.show_notificationsFriends,.show_notificationsFollowers,.show_notificationsUpvotes {
  visibility: hidden;
  box-shadow: 2px 2px 6px #000;
  position: absolute;
background: rgba(255, 255, 255, 0.2);
/* border-right: 11px solid #3A3131; */
z-index: 8888888;
border-radius: 7px;
margin-top: -15px;
width: 33.33%;
height: 100px;
margin-left: 33.33%;
margin-top: -12px;
width: 400px;
}

#notiTableFriends,#notiTableFollowers,#notiTableUpvotes {
  margin-left: 18px;
  width: 320px;
  margin-top: 4px;
  float:left;
}

div.pager {
    text-align: right;
    margin: 1em 0;
    position: absolute;
right: 0;
margin-right: 8px;
margin-top: 47px;
}

div.pager span {
    display: inline-block;
    opacity: 0.9;
    width: 1.8em;
    font-size:0px;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    width: 5px;
    height: 5px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5em;
    line-height: 2;
    margin-left: 4px;
}

.show_notificationsFriends>a:hover,.show_notificationsFollowers>a:hover,.show_notificationsUpvotes>a:hover, {
  color:#fff!important;
}



div.pager span.active {
  background: #354350;
width: 8px;
line-height: 5.6px;
height: 8px;
}

#closeNoti {
position: absolute;margin-top: 52px;margin-left: 40px;color:#000;opacity:0.5;font-size:20px
}

#closeNoti:hover {
color:#ddd;
}

#closeNoti>.fa-times {
position: absolute;margin-top: -50px;
}

#notiFriendDate {
margin-left: 0!important;background-color: rgba(0,0,0, .25);padding: 1px 11px 1px;border-radius: 5px;font-family: 'PT Sans Caption';font-size: 10px;
}

#notiFriendPic {
height: 16px;float: left;width: 16px;margin-right: 10px;
}

#notiFriendName {
line-height: 18px;font-family: 'PT Sans Caption';
}

#notiPicTD {
  width: 38px;
}

#notiInfoTR {
  height: 40px!important;
}

#requestOption {
  margin-top: 36px;
  font-size: 18px;
}

#requestOption {
margin-top: 62px;
border-radius: 4px;
line-height: 16px;
margin-left: 15px;
position: absolute;
font-size: 14px;
background-color: rgba(0,0,0, .5) !important;
padding: 0px 3px 0px 3px;
}

#requestOption>.fa-minus-square {
color:#b94a48!important;
margin-left: 3px;
}

#requestOption>.fa-plus-square {
  color:#468847!important;

}

#rejectFriendButton {
color:#b94a48!important;
margin-left: 3px;
}

#acceptFriendButton {
  color:#468847!important;

}

#acceptFriendButton:hover,#rejectFriendButton:hover {
  color:#ddd!important;

}