#searchform {
	background-color: rgba(75, 72, 72, 0.6);
	padding-top: 9px;
	margin-left: -50px;
	padding-left: 14px;
	width: 231px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.acc_heading {
	background-color: rgba(75, 72, 72, 0.6)!important;
	border-radius: 5px!important;
}

#searchform input[type="text"] {
	background: rgba(255, 255, 255, 0.2);
	font-family: 'PT Sans Caption';
}

.edit_pic_button{
width: 50px;
font-size: 25px;
margin-left: 128px;
margin-top: 13px;
position: absolute;}


button.addfriend {
background: #e3e3e3!important;
border: 1px solid #bbb;
border-radius: 0px;
-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
box-shadow: inset 0 0 1px 1px #f6f6f6;
color: #333!important;
font: bold 12px/1 "PT Sans", helvetica, arial, sans-serif;
padding: 8px 0 9px;
text-align: center;
text-shadow: 0 1px 0 #fff!important;
width: 100px;
border-radius: 5px;
}
.addfriend {
position: absolute!important;
margin-top: 27px!important;
z-index: 12!important;
right: 0!important;
margin-right: 177px!important;
}

button.followuser {
background: #e3e3e3!important;
border: 1px solid #bbb;
border-radius: 0px;
-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
box-shadow: inset 0 0 1px 1px #f6f6f6;
color: #333!important;
font: bold 12px/1 "PT Sans", helvetica, arial, sans-serif;
padding: 8px 0 9px;
text-align: center;
text-shadow: 0 1px 0 #fff!important;
width: 100px;
border-radius: 5px;
}
.followuser {
position: absolute!important;
margin-top: 27px!important;
z-index: 12!important;
font-family: 'Arial';
right: 0!important;
margin-right: 73px!important;
}