.settingstag {
	margin-left: 0!important;
	background-color: rgba(0,0,0, .25);
	padding: 8px 15px 8px;
	border-radius: 5px;
}

.settingslabel {
	width:195px!important;
	margin-left:5px!important;
	padding: 10px 10px 10px!important;
}

.settingsinput {
	margin-left:5px!important;
	margin-top: 2px!important;
}

.settingssubmit {
	background-color:#5cb85c!important;
}

.privacy{
text-transform: uppercase;
text-align: center;
opacity: 0.5;
}

input[type=radio].css-checkbox {
							display:none;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:25px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							margin-top: 12px;
							font-size: 12px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_4fb583981a5df64c087b67f6226edf46.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

#helpQuadra:hover{
	-opacity:1;
}

#newUsername,#oldPassword,#newPassword,#newEmail {
	width: 196px;
}

#settingssubmit {
	width: 171px;
}