<div data-id="!login" class="contentWrapper contactPage darkStyle"  >



	<div class="m-Scrollbar">  

		<hr class="alignToMiddle" /> 

		<div class="container-fluid">     	
			<div class="row-fluid">
				<div class="span12" > 
					<div class="heading_stroke"> 
						<div class="heading_stroke_wrapper">
							<div class="stroke-text"><h2>Login</h2></div>
							<div class="stroke-holder"><div class="stroke-line"></div></div>
						</div>
					</div>
				</div>               
			</div>        
		</div>

		<div class="container-fluid darkStyle desktop_alignLeft" > 


                  <div class="row-fluid" >


                       <div class="span12" >

                            <div class="row-fluid transparent">

                                 <form name="login " method="post" action="../../actions/users/login.php">
                                      <div class="row-fluid">
                                           <div class="span6">
                                                <input type="text" value="Username" id="loginusername" name="loginusername" class="span12" />
                                          </div>
                                          <div class="span6">
                                                <input type="text" value="Password" id="loginpassword" name="loginpassword" class="span12"   />
                                          </div>
                                    </div>


                                    <button type="submit" id="email_submit"  class="button transparent alignLeft" style="background-color:#5cb85c!important;">Log in</button>




                              </form>
                        </div>
                  </div>
                  
            </div> 



<div class="row-fluid" >

<div class="span12"> 
                              <div class="heading_stroke"> 
                                    <div class="heading_stroke_wrapper">
                                          <div class="stroke-text"><h5>Got a Facebook account?</h5></div>
                                          <div class="stroke-holder"><div class="stroke-line"></div></div>
                                    </div>
                              </div>
                        </div>

                  <div class="span6" >
                        
                        <div class="row-fluid transparent" style="text-align: left;">

                              <fb:login-button scope="public_profile,user_birthday,email" style="" onlogin="checkLoginState();"> </fb:login-button> 
                        </div>
                  </div>
                  <div class="span6" >

                        <div class="row-fluid transparent" style="text-align: left;">

                         
                        </div>
                  </div>
            </div> 






      </div>




      <hr class="separator_mini">


</div>           

</div>
