<div data-id="!aboutus" class="contentWrapper darkStyle" >

		<div class="m-Scrollbar"> 

			<hr class="alignToMiddle" />  

			<div class="container-fluid">     	
				<div class="row-fluid">
					<div class="span12" > 
						<div class="heading_stroke"> 
							<div class="heading_stroke_wrapper">
								<div class="stroke-text"><h2>We Are </h2></div>
								<div class="stroke-holder"><div class="stroke-line"></div></div>
							</div>
						</div>
					</div>               
				</div>
			</div>    

			<!-- Tab section -->

			<div class="container-fluid ">
				<div class="row-fluid"> 
					<div class="span12">
						<h6>Houdini Team Projects is more than a company, it is a family. In addition to possess a wide range of methodologies that strive for efficiency and cohesion, we also present a huge dedication to every project we embrace. With the promise of delivering high quality, HoudiniTeam Projects stands on the market by the large enhancement of customer satisfaction in relation to the desired product. 
						</h6><h6>Do not hesitate to contact us! </h6>
						<br>
					</div>
				</div>

				<div class="row-fluid"> 
					<div class="span6">
						<h4>Carlos Teixeira</h4>
						<p>
							<span class="thumbnail mini" >
								<img src="{$BASE_URL}images/team/carlos.png" class="img-rounded-mini imgBorder" alt="image name"> 
							</span>
							I'm an informatic engineering student at Faculdade de Engenharia da Universidade do Porto.
							I love Programming and during my studies i had having the opportunities to participate in programing contests like MIUP or TIUP.
							I finished Informatic Course in Colégio dos Carvalhos High School
							I have many hobbies like football, video games, music but main hobby is cycling
							I never deny a competitive challenge!

						</p>
						<br>
						<br>
					</div>
					<div class="span6">
						<h4>Gonçalo Lobo</h4>
						<p>
							<span class="thumbnail mini" >
								<img src="{$BASE_URL}images/team/goncalo.png" class="img-rounded-mini imgBorder" alt="image name"> 
							</span>
							I'm an informatic engineering student at Faculdade de Engenharia da Universidade do Porto.
							I love Programming and during my studies i had having the opportunities to participate in programing contests like MIUP or TIUP.
							I finished Informatic Course in Colégio dos Carvalhos High School
							I have many hobbies like football, video games, music but main hobby is cycling
							I never deny a competitive challenge!

							<br>
						</p>
					</div>

				</div>


				<div class="row-fluid"> 
					<div class="span6">
						<h4>Leonel Araújo</h4>
						<p>
							<span class="thumbnail mini" >
								<img src="{$BASE_URL}images/team/leonel.png" class="img-rounded-mini imgBorder" alt="image name"> 
							</span>
							I'm an informatic engineering student at Faculdade de Engenharia da Universidade do Porto.
							I love Programming and during my studies i had having the opportunities to participate in programing contests like MIUP or TIUP.
							I finished Informatic Course in Colégio dos Carvalhos High School
							I have many hobbies like football, video games, music but main hobby is cycling
							I never deny a competitive challenge!

						</p>
						<br>
						<br>
					</div>
					<div class="span6">
						<h4>Sérgio Esteves</span></h4>
						<p>
							<span class="thumbnail mini" >
								<img src="{$BASE_URL}images/team/sergio.png" class="img-rounded-mini imgBorder" alt="image name"> 
							</span>
							I'm an informatic engineering student at Faculdade de Engenharia da Universidade do Porto.
							I love Programming and during my studies i had having the opportunities to participate in programing contests like MIUP or TIUP.
							I finished Informatic Course in Colégio dos Carvalhos High School
							I have many hobbies like football, video games, music but main hobby is cycling
							I never deny a competitive challenge!
							<br>
						</p>
					</div>

				</div>


			</div> 
		<div class="container-fluid">     	
			<div class="row-fluid">
				<div class="span12"> 
					<div class="heading_stroke"> 
						<div class="heading_stroke_wrapper">
							<div class="stroke-text"><h2>Contact Us</h2></div>
							<div class="stroke-holder"><div class="stroke-line"></div></div>
						</div>
					</div>
				</div>               
			</div>        
		</div>

		<div class="container-fluid darkStyle desktop_alignLeft"> 

			<div class="row-fluid">
				<div class="span12">


                    <!-- Google map position is defined in custom.min.js file near the // Google map Code // comment line 
                    the google.maps.LatLng variable is used to set the location of the map -->
                    <div id="map_canvas"> 
                    	<!-- Google map load error message -->
                    	<a class="openGoogleMap"><i class="fa  fa-map-marker fa-1x"></i>  <strong>Click to see Map Location</strong> </a>

                    </div>                   
                </div>               

            </div>
            
            <div class="row-fluid">

            	<div class="span5">
            		<h5 class="upperCase bold_weight"> Office Address:</h5>
            		<hr>
            		<h6>
            			    Faculdade de Engenharia da Universidade do Porto <br>
    Rua Dr. Roberto Frias, s/n <br>
    4200-465 Porto <br>
    PORTUGAL<br>
            		</h6> 
            		<hr>
            		<em>
            			<span class="list6"> +351 22 508 18 95</span>
            			<span class="list1"> +351 22 508 15 03</span>                        
            			<span class="list2"> <a>houdiniteamprojects@gmail.com</a></span> 
            		</em>                   
            		<ul class="font_awesome ">            	               
            			<li><a><i class="fa fa-facebook"></i></a></li>
            			<li><a href="http://www.twitter.com/houdiniteamproj"><i class="fa fa-twitter"></i></a></li>
            			<li><a><i class="fa fa-google-plus"></i></a></li>
            			<li><a><i class="fa fa-flickr"></i></a></li>                
            			<li><a><i class="fa fa-pinterest"></i></a></li>
            		</ul>            
            		<hr class="separator_mini">
            	</div> 

   
            </div>
            
            <hr class="separator_mini">


                

    </div>
    </div>
    </div>