<div data-id="!promo" class="contentWrapper darkStyle" >

  <div class="m-Scrollbar"> 

    <hr class="alignToMiddle" />  

    <div class="container-fluid">       
      <div class="row-fluid">
        <div class="span12" > 
          <div class="heading_stroke"> 
            <div class="heading_stroke_wrapper">
              <div class="stroke-text"><h2>Demonstration Video </h2></div>
              <div class="stroke-holder"><div class="stroke-line"></div></div>
            </div>
          </div>
        </div>               
      </div>
      

      <!-- Tab section -->

      <div class="row-fluid">            

          <div class="span12"> 
          <video style="box-shadow: rgb(0, 0, 0) 2px 2px 6px 0px;" id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="360"
  data-setup='{ldelim}"example_option":true{rdelim}'>
 <source src="http://gnomo.fe.up.pt/~lbaw1321/ic/frmk/videos/icvid.mp4" type='video/mp4' />
</video>

          </div>                            
        </div>

<br><br>
        <div class="row-fluid">
        <div class="span12" > 
          <div class="heading_stroke"> 
            <div class="heading_stroke_wrapper">
              <div class="stroke-text"><h2>Promotional Flyer </h2></div>
              <div class="stroke-holder"><div class="stroke-line"></div></div>
            </div>
          </div>
        </div>               
      </div>
      

      <!-- Tab section -->

      <div class="row-fluid">            

          <div class="span12"> 
          <img style="margin:auto;box-shadow: rgb(0, 0, 0) 2px 2px 6px 0px;" src="{$BASE_URL}/images/IC_FLYER.png">

          </div>                            
        </div>

        

              
                

              </div>    
            </div>
          </div>
